footer {
    .row {
        background-color: #000;
        .block-7{
            figure{
                padding: 5px;
                img{
                    width: 190px;
                    height: auto;
                }
            }
        }
        .block-5, .block-6{
            p{
                color: #fff;
                padding-top: 20px;
            }

        }
    }


}